<center><h1>Técnicas de Inteligencia Artificial</header1></center>

Presentado por: Selena Elizabeth Rivas Mera <br>
Fecha: 18/07/2022

# Importación de librerias necesarias

In [1]:
#Para esta actividad se importarán las siguientes librerías:
#Importamos la libreria pandas
import pandas as pd
#Importamos la libreria numpy
import numpy as np

## Cargar el Dataset

In [2]:
#Código para cargar el Dataset
#url dataset
url='https://raw.githubusercontent.com/Selena26/-NRC_6278-_SelenaRivas_Lab1/master/Real-estate.csv'
#cargar datos en base a la url del dataset
Real_estate_data=pd.read_csv(url)

In [3]:
#visualización de los 10 primeros datos
Real_estate_data.head(10)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.667,7.1,2175.03000,3,24.96305,121.51254,32.1
6,7,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3
7,8,2013.417,20.3,287.60250,6,24.98042,121.54228,46.7
8,9,2013.500,31.7,5512.03800,1,24.95095,121.48458,18.8
9,10,2013.417,17.9,1783.18000,3,24.96731,121.51486,22.1

## Descripción de la fuente del Dataset

**Variable Dependiente Y**<br>
**House price of unit area:**Continuo. Precio de la vivienda por unidad de superficie local<br>
**Variables Independientes X**<br>
**Transaction date:** Fecha de transacción<br>
**House age:** La edad de la casa en años<br>
**Fistance to neares MRT station:** la distancia a la estación de metro más cercana en metros.<br>
**Number of convenience stores:** el número de tiendas de conveniencia a las que se puede acceder a pie.<br>
**Latitude:** coordenadas de latitud.<br>
**Longitude:** coordenadas de longitud.<br>

## Explique el problema a resolver. 
Con el presente trabajo se buscar realizar la predicción del precio de las casas en base a las caracteristicas como la fecha de transaccion, la edad de la casa, la distancia a la estacion del metro entre otras. Como se menciono el precio se dara en base a las caracteristicas es decir que el precio de la vivienda sera la variable objetivo o dependiente, mientras que las otras caracteriticas sera las variables independientes.Par realizar este tipo de prediccion se utilizara un modelo de regresión lineal.

## Caracterización del Dataset

Realice una descripción de los datos con:

>- Número de instancias en total.
>- Número de atributos de entrada, su significado y tipo.
>- Estadísticas de la variable objetivo.
>- Estadísticas los atributos en relación con la variable objetivo.

In [3]:
#Código que responde a la descripción anterior

En un par de párrafos haga un resumen de los principales hallazagos encontrados:

## Preprocesamiento del dataset. Transformaciones previas necesarias para la modelación

In [4]:
#Transformación de las caracteristicas (mire el apartado Feature engineering del aula virtual)

## División del dataset en datos de entrenamiento y datos de test

In [5]:
#Código que realice la división en entrenamiento y test, de acuerdo con la estretgia de evaluación planeada. Describa cuál es.

## Regresión Lineal

In [6]:
#Códo del modelo

In [7]:
#Entrenamiento

In [8]:
#Test

## Evaluación del Modelo

Construya un o dos párrafos con los principales hallazgos. Cómo está funcionando el modelo? Calidad en los resultados de predicción.